* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --main-color: #4e54c8;
  --secondary-color: #854ec8;
  --accent-color: #4e91c8;
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, #4e54c8 25%, #8f94fb 100%);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  position: relative;
}
.stopContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  min-width: 50%;
  min-height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(0);
  gap: 0.5rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  transition: all 0.7s;
}
.stopContainer:hover {
  backdrop-filter: blur(8px);
  opacity: 1;
}
